p{
	color: #00427D;
	font-family: Courier;
}
h1{
	color: #0186B8;
	font-family: Courier;
}
h2{
	color: #0186B8;
	font-family: Courier;
}
li{
	color: #00427D;
	font-family: Courier;
}
img{	
	
	border: 2px;
	border-style: solid;
	border-color: #0186B8;
}
